.container{
    width: 100%;
    height:auto;
    flex: 1/5;
    position: relative;
    background-color: #EAE9F9;
    border-radius: 30px;
    overflow: hidden;
    border: 3.46px solid #584DE2;

}

.line{
    width: 100%; height: 0px; left: 318.63px; top: 125.83px; position: absolute; transform: rotate(180deg); transform-origin: 0px 0px; border: 1.15px solid rgb(223, 222, 241);
}
